/* -- LANDINGPAGE -- */
.team{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* -- AREA DE TIMES -- */
.container{
  margin-top: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}

.playerimg{
  width: 14rem;
}

.playerimg:hover{
  width: 16rem;
  transition: .4s;
}

.images{
  border-radius: 50%;
  width: 10rem;
}